*{
    margin: 0;
    font-family: arial;
    border: border-box;
}


/* ##### Starting of Navigation Bar ##### */

.navbar {
    height:60px;
    display: flex;
    background-color: #0f1111;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 135px;
}

.logo {
    background-image: url("amazon-logo.png");
    background-size: cover;
    height: 50px;
    width:135px;
    
}
.border {
    border:1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* BOX-2  */

.nav-address {
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

/* BOX-3 */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}

.search-select {
    background-color:#e6e6e6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-search:hover {
    border: 3px solid #febd68 ;
}

/* Box-4 and Box-5 */

span {
    font-size: 0.85rem;
}

.nav-second{
    font-size: 1rem;
    font-weight: 700;
}

/* Box-6 */

.nav-cart i {
    font-size: 25px;
}

.nav-cart { 
    font-size: 0.85rem;
    font-weight: 700;
}

/*  ##### Ending of Navigation bar #####*/

/* ##### Starting of Pannel Tab ##### */

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all {
    margin: 8px 9px 8px 9px;
    box-sizing: content-box;
}

.panel-ops a {
    display: inline;
    margin: 15px;
    color: white;
    text-decoration: none;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
    margin: 5px 6px;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* ##### End of Panel Tab ##### */

/* ##### Start of Hero Section ##### */

.hero-section {
    background-image: url("hero_image.png");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    color: black;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}

/* ##### Starting of Shopping Section  */

.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e6e6e6;
    flex-wrap: wrap;
}

.box {
    height: 380px;
    width: 23%;
    background-color: white;
    margin-top: 15px;
    padding: 20px 0px 15px;
}

.box-img {
    height: 250px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1.7rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.55rem;
    margin-bottom: 1rem;
}

.box-content a {
    color: #007185;
    font-size: 14px;
    text-decoration: none;
}

.box-content a:hover{
    color: rgb(183, 31, 31);
}   

/* ##### End of Shopping Section ##### */

/* ##### Start of Footer Section ##### */

footer {
    margin-top: 20px;
}

.foot-panel1 {
    background-color: #37475a;
    color: #ffffff;
    font-size: 14px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel2 {
    background-color: #222f3d;
    color: #ffffff;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}

.foot-panel3 {
    background-color: #222f3d;
    color: #dddddd;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 135px;
}

.foot-panel4 {
    background-color: #131a22;
    color: #dddddd;
    height: 100px;
    font-size: 12px;
    text-align: center;
}

.foot-panel4 a {
    text-decoration: none;
    color: #dddddd;
}

a:hover {
    text-decoration: underline;
}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}

/* ##### End of Footer Section ##### */
